    * {
      box-sizing:border-box;
      margin:0;
      padding:0;
      }

    @media (min-width:320px) {
    body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #E5E5E5;
    }
    
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    .container {
      position:relative;
      width:100%;
      text-align: center;
      max-width:1366px;
    }
    
    .header{
      display:flex;
      height:72px;
      width:100%;
      padding-left: 41px;
      background-color: blue;
      vertical-align: middle;
    }
    .field {
      display:flex;
      align-items: center;
      width: 500px;
      height: 41px;
      margin-left: 22px;
      margin-top: 16px;
      vertical-align:middle;
      padding-left: 19px;
      background-color:white;
      border-radius: 6px;
    }
    .header input{
      width:256px;
      height:24px;
      margin-left:11px;
      font-family: "Inter-Regular";
      font-size:14px;
      line-height: 16.94px;
    }
    .main {
     display:flex;
     background-color: #E5E5E5;
     width:100%;
     }
    .userInfo {
     width:31.84% ;
     padding-top:39px;
     padding-left:56.03px;
     text-align: start;  
      }
    .pages {
      width:68.16%;
      padding-top: 28px;
      text-align: start;
     }
    .avatar{
      width:280px;
      height:280px;
      border-radius:50%;
      margin-bottom: 29px;
      }
    .loader {
      /*margin:-30% auto;*/
      position:absolute;
      top:230px;
      left:50%;
      width:120px;
      height:120px;
      border:16px solid lightgrey;
      border-radius:50%;
      border-top:16px solid rgb(41, 41, 187);
      animation: spin 2s linear infinite;
      visibility:hidden;
     }
    @keyframes spin {
      from {
      transform:rotate(0deg)}
      to {transform: rotate(360deg)}
    }
    .items {
      background-color: white;
      width:94.2%;
      border-radius: 6px;
      margin-bottom:24px;
      margin-right:56.03px;
      padding:24px 32px 24px 32px;
     }
     .items:last-of-type{
       margin-bottom: 26px;
     }
   .loop { 
       margin:219.92px auto;
      }
    .login {
      display:block;
      font-size: 18px;
      color:blue;
      text-decoration: none;
      cursor:pointer;
      font-family:  "Inter-Regular";
      margin-bottom: 25.24px;
      padding-left:0px
    }
    .followers {
      font-family: "Inter-Regular";
      font-size: 16px;
      line-height: 24px;
    }
    .name{
      font-size: 26px;
      font-family: "Inter-SemiBold";
      margin-bottom: 12px;
      }
    .nameRepo {
      font-size: 24px;
      font-family: "Inter-Medium";
      }
    .description {
      margin-top: 16px;
      font-size: 16px;
      font-family: "Inter-Regular";
      line-height:19.36px;
    }
    .pagination {
      font-family:"Inter-Regular";
      font-size: 14px;
      display:flex;
      flex-direction: row;
      justify-content:flex-start;
     }
    .pagination a:focus{
      width:25px;
      color:white;
      background-color: blue;
      border-radius: 3px;
      padding: 2px 6px 2px 6px;
    }
    .pagination li {
      color:#808080;
      list-style-type: none;
      margin-left:16px;
    }
    .pagination li:nth-child(2), .pagination li:last-child {
      margin-left: 26px;
    }
    .not {
     margin:229px auto
    }
    input {
     border:none
    }
    input:focus{
      outline:none
    }
    a { 
      text-decoration: none;
    }
    .head {
      width:37px;
      height:37px;
      border:8px solid #808080;
      border-radius: 50%;
      margin: 0 auto;
    }
    .shoulders {
      width:65px;
      height:74px;
      border:8px solid #808080;
      border-radius: 50%;
      margin: 0 auto;
      clip-path: polygon(
        0% 0%, 
        50% 0%,
        100% 0%,
        100% 50%,
        0 50%
      );
    }
    .cont {
      height:37px;
      overflow: clip;
      margin-bottom: 42px;
    }
    .info {
      font-family: 'Inter-Regular';
      font-size: 22px;
      line-height: 30.8px;
      text-align: center;
    }
    .start{
      margin-top:46.92px;
    }
    .emp1 {
      position: relative;
      border: 8px solid #808080;
      border-radius: 30%;
      width: 76px;
      height: 62px;
      font-size: 30px;
      font-weight:800;
      color:#808080;
      margin-bottom: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .empty {
    position:absolute;
    top:293px;
    left:54.97%;
    display: flex;
    flex-direction: column;
    align-items:center;    
    }
    .x1 {
      position: absolute;
      top:20px;
      left:16px;
      width:27px;
      height: 6px;
      border-radius: 25%;
      background-color: #808080;
      transform: rotate(45deg);
    }
    .x2 {
      position: absolute;
      top:20px;
      left:16px;
      z-index: 2;
      width:27px;
      height: 6px;
      border-radius: 25%;
      background-color: #808080;
      transform: rotate(315deg);
    }
     @font-face {
      font-family: 'Inter-Regular';
      src: url(./fonts/Inter-Regular.ttf) format('truetype')
    }
    @font-face {
      font-family: 'Inter-SemiBold';
      src: url(./fonts/Inter-SemiBold.ttf) format('truetype')
    }
    @font-face {
      font-family: 'Inter-Medium';
      src: url(./fonts/Inter-Medium.ttf) format('truetype')
    }
    
    .repositories {
      font-family: "Inter-SemiBold";
      font-size: 32px;
      line-height: 41.6px;
    }
    .wrapper-items {
      padding-top: 29px;
      margin-bottom: 26px;
    }
    .paginate {
      color:#808080
      }
    .followers{
      display:flex;
      flex-direction: row;
      align-items:center
      }
    .wrapper {
      display:flex;
      flex-direction: row;
      justify-content:flex-start;
      margin-left:56.39%;
      margin-bottom: 30px;
      }
    }

  @media(min-width:320px) and (max-width:480px) {
       
    .header {
      padding-left:5%
    }
    .header input {
      width:160px
    }
    .field {
     min-width:220px;
     width:65%
    }
    .loader {
      position:absolute;
      top:550px;
      left:30%
    }
    .main{
      flex-direction: column;
      width:100%
    }
    .loader{
      margin: -200px auto;
    }
    .not {
     margin:136.92 auto
    }
    .empty {
      position:static;
      margin:70px auto
    }
    .empt1 {
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .emp1 {
      order:1;
    }
    .emp1 {
      order:2;
      margin-top: 20px;
    }
    .repositories  {
      margin:0px auto;
      text-align:center;
      font-size: 20px;
    }
    .userInfo {
      display:flex;
      flex-direction: column;
      justify-content: center;
      width:100%;
      padding-left:0;
      text-align:center
     }
    .pages {
      width:100%;
      padding-left: 0;
      padding-top: 20px;
    }
    .items {
      width:85%;
      text-align: left;
      font-size: 14px;
      padding-top: 12px;
      padding-bottom: 12px;
      margin: 0px auto 24px;
      overflow:auto
      }
  .wrapper {
   margin-left: 9%;
    }
    .pagination li:nth-child(2), .pagination li:last-child {
      margin-left: 20px;
    }
    @font-face {
      font-family: 'Inter-Light';
      src: url(./fonts/Inter-Light.ttf) format('truetype')
    }
    .avatar {
      width:250px;
      height:250px;
      margin:0 auto 28px
      }
      .followers{
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
       }
       .img1, .img2 {
         display:block
       }
       .nameRepo {
        font-family:"Inter-Light";
        font-size: 18px;
      }
  }

  @media(min-width:481px) and (max-width:1023px){
    
    .field {
    width:75%;
    min-width:240px;
    max-width:500px
    }
    .empty {
      top:213px;
    }
    .userInfo { 
      display:flex;
      flex-direction: column;
      width:55%;
      margin-right: 5px;
      padding-left:8px;
      text-align:center;
      white-space:pre
     }
      .pages {
      margin-right: 0px;
      margin-left: 10px;
    }
     .items {
      width:85%;
      padding:16px 0 16px 16px;
    }
    .wrapper-items{
      margin-right: 2px;
      padding-right:0
    }
    .avatar {
      width:245px;
      height: 245px;
    }
    .wrapper {
      margin-left: -60px;
    }
    .repositories  {
      margin:0px auto;
      text-align:start;
      font-size: 22px;
    }
    .nameRepo {
      font-family:"Inter-Regular";
      font-size: 18px;
    }
    .name {
      width:100%
    }
    .pagination a:focus{
      width:16px;
    }
    .pagination li:nth-child(2), .pagination li:last-child {
      margin-left: 12px;
    }
    .wrapper {
      margin-left: 0;
      margin-bottom: 30px;
      }
      .followers {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
       }
   }
  
   @media(min-width:481px) and (max-width:560px){
    .wrapper {
      margin-left: -130px;
    }
  }
    @media(min-width:1024px) and (max-width:1100px){
      .avatar {
        width: 260px;
       height:260px;
      }
    }
  
 